.rounded {
    border-radius: 8px;
}

.skikkelig-bred {
  width: 300px;
}

.lite-bilde {
  width: 20px;
  height: 20px;
}

.stoor {
  width: 1000px;
}

#hei {
  height: 300px;
  width: 200px;
  background-color: red;
}
.bla {
  background-color: blue;
}